@import "tailwindcss";

@theme {
  /* Primary */
  --color-primary-500: #3772ff;
  --color-primary-100: #cdddfd;
  /* Orange */
  --color-orange-500: #ff5c00;
  /* Green */
  --color-green-500: #aee753;
  --color-green-600: #4b6029;
  /* Red */
  --color-red-500: #f90430;
  /* White */
  --color-White-500: #ffffff;
  /* Neutral */
  --color-neutral-1: #141416;
  --color-neutral-2: #23262f;
  --color-neutral-3: #353945;
  --color-neutral-4: #777e90;
  --color-neutral-5: #b1b5c3;
  --color-neutral-6: #e6e8ec;
  --color-neutral-7: #f4f5f6;
  --color-neutral-8: #fcfcfd;

  /* Fonts */
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

@utility bg-primary-500 {
  background-color: var(--color-primary-500);
}

@utility font-poppins {
  font-family: var(--font-poppins);
}

@utility font-roboto {
  font-family: var(--font-roboto);
}

.svg-filter-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(100%) contrast(100%);
}

/* Neutral Colors */
.svg-filter-neutral-1 {
  filter: brightness(0) saturate(100%) invert(4%) sepia(3%) saturate(2161%)
    hue-rotate(201deg) brightness(93%) contrast(90%);
}

.svg-filter-neutral-2 {
  filter: brightness(0) saturate(100%) invert(12%) sepia(10%) saturate(1202%)
    hue-rotate(187deg) brightness(89%) contrast(91%);
}

.svg-filter-neutral-3 {
  filter: brightness(0) saturate(100%) invert(20%) sepia(10%) saturate(959%)
    hue-rotate(188deg) brightness(95%) contrast(91%);
}

.svg-filter-neutral-4 {
  filter: brightness(0) saturate(100%) invert(50%) sepia(19%) saturate(290%)
    hue-rotate(185deg) brightness(95%) contrast(93%);
}

.svg-filter-neutral-5 {
  filter: brightness(0) saturate(100%) invert(63%) sepia(1%) saturate(2194%)
    hue-rotate(190deg) brightness(123%) contrast(76%);
}

.svg-filter-neutral-6 {
  filter: brightness(0) saturate(100%) invert(95%) sepia(9%) saturate(75%)
    hue-rotate(182deg) brightness(98%) contrast(92%);
}

.svg-filter-neutral-7 {
  filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(211%)
    hue-rotate(166deg) brightness(99%) contrast(96%);
}

.svg-filter-neutral-8 {
  filter: brightness(0) saturate(100%) invert(99%) sepia(94%) saturate(39%)
    hue-rotate(180deg) brightness(100%) contrast(98%);
}
